.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.paper {
  padding: 20px 30px;
  width: 600px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.textfield {
  width: 100%;
  margin-bottom: 20px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #45a049;
}
